In [254]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('gtfs_schema.sql')
c = conn.cursor()

In [235]:
result = c.execute("SELECT name FROM sqlite_master WHERE type = 'table';").fetchall()
table_names = sorted(list(zip(*result))[0])
print(table_names)

['Agency', 'Routes', 'StopTimes', 'Stops', 'Trips']

C3.3 - Insertion des données via Pandas

In [269]:
df_agency = pd.read_csv("./SEM-GTFS/agency.txt")
df_routes = pd.read_csv("./SEM-GTFS/routes.txt")
df_stops = pd.read_csv("./SEM-GTFS/stops.txt")
df_trips = pd.read_csv("./SEM-GTFS/trips.txt")
df_stop_times = pd.read_csv("./SEM-GTFS/stop_times.txt")

In [15]:
df_stops

,stop_id,stop_code,stop_name,stop_lat,stop_lon,zone_id,location_type,parent_station,wheelchair_boarding
0,0004,0004,"Meylan, Revirée - Sayettes",45.21220,5.76728,NaN,NaN,REVIREES,0
1,0006,0006,"La Tronche, Commandant Nal",45.20323,5.74535,NaN,NaN,COMMANAL,1
2,0007,0007,"La Tronche, Musée Hébert",45.20564,5.74888,NaN,NaN,MUSHEBER,1
3,0008,0008,"La Tronche, Centre Théologique",45.20617,5.75214,NaN,NaN,CENTHEOL,1
4,0011,0011,"Meylan, Malacher",45.21128,5.78724,NaN,NaN,MALACHER,1
...,...,...,...,...,...,...,...,...,...
2379,VOHRIGEN,GENVOHRIGEN,"Vizille, Parc Vöhringen",45.07888,5.76947,NaN,1.0,NaN,0
2380,XAVJOUVI,GENXAVJOUVI,"Grenoble, Xavier Jouvin",45.19560,5.73009,NaN,1.0,NaN,0
2381,ZASPEYRE,GENZASPEYRE,"Vif, Z.A. des Speyres",45.05690,5.68184,NaN,1.0,NaN,0
2382,ZELLAMEL,GENZELLAMEL,"Saint-Martin-d'Hères, Zella Mehlis",45.16707,5.75354,NaN,1.0,NaN,0
2383,ZILES,GENZILES,"Le Pont-de-Claix, ZI des Iles",45.13853,5.69449,NaN,1.0,NaN,0

In [20]:
df_trips

,route_id,trip_id,trip_headsign,service_id,direction_id,shape_id,wheelchair_accessible,bikes_allowed
0,19,25702901,"Sassenage, L'Ovalie",1234567-MSHSAH02_ST5_2_HI2122,1,SEM_19_2,1,2
1,81,26406624,"Le Pont-de-Claix, L'Etoile",12345-MEHLV11_ST8_11_HI2122-MEHW11_ST11_11_HI2122,0,NaN,1,2
2,2,26016265,"Claix, Pont Rouge",12345-MEHLV09_ST8_9_HI2122-MEHLV11_ST8_11_HI21...,0,SEM_C2_2,1,2
3,6,25943512,"Grenoble, Oxford",1234567-MSHSAH02_ST5_2_HI2122,0,NaN,1,2
4,3,25632156,"Grenoble, Victor Hugo",1234567-MEHD00_ST6_0_HI2122,0,SEM_C3_1,1,2
...,...,...,...,...,...,...,...,...
15485,A,25863184,"Le Pont-de-Claix, L'Etoile",12345-MEILVI04_ST21_4_HI2122,0,SEM_A_3,1,2
15486,E,25679075,"Fontanil-Cornillon, Palluel",1234567-MGHS01_ST5_1_HI2122,1,SEM_E_1,1,2
15487,7,26383248,"Gières, Universités - IUT - UFRAPS",12345-MSHLVH06_ST8_6_HI2122-MSHLW06_ST11_6_HI2122,0,SEM_C7_1,1,2
15488,A,26406196,"Fontaine, La Poya",12345-MEHLV11_ST8_11_HI2122-MEHW11_ST11_11_HI2122,1,SEM_A_4,1,2
15489,E,25756364,"Gières, Plaine des Sports",12345-MGHLV21_ST0_21_HI2122-MGHLV23_ST0_23_HI2122,0,SEM_E_4,1,2

In [17]:
df_stop_times

,trip_id,stop_id,arrival_time,departure_time,stop_sequence,pickup_type
0,25485431,6806,07:22:00,07:22:00,1,0
1,25485431,6805,07:24:00,07:24:00,2,0
2,25485431,4905,07:27:00,07:27:00,3,0
3,25485431,4202,07:28:00,07:28:00,4,0
4,25485431,4343,07:29:00,07:29:00,5,0
...,...,...,...,...,...,...
363640,26429058,4511,25:09:00,25:09:00,6,0
363641,26429058,4509,25:12:00,25:12:00,7,0
363642,26429058,4623,25:15:00,25:15:00,8,0
363643,26429058,4626,25:18:00,25:18:00,9,0
363644,26429058,4624,25:19:00,25:19:00,10,0

In [21]:
table_names

['Agency', 'Routes', 'StopTimes', 'Stops', 'Trips']

Question
<br>

result = c.execute("SELECT name FROM Agency WHERE type = 'table';").fetchall()
<br>
get another type than table?

In [214]:
# get column name from table
def getColumn(table):
    tempstring="SELECT * FROM "+table
    c.execute (tempstring)
    #print (f"-----in table {table} there are-----")
    colList=[]
    for i in range(len(c.description)):
        colList.append(c.description[i][0])
        #print(c.description[i][0])
    #print ('-----as columns-----\n\n')
    return colList

def getTableDict(database):                   
    conn = sqlite3.connect(database)
    c = conn.cursor()
    result = c.execute("SELECT name FROM sqlite_master WHERE type = 'table';").fetchall()
    table_names = sorted(list(zip(*result))[0])
    tableDict={}
    for table in table_names:
        tableDict[table]=getColumn(table)
    return tableDict

In [101]:
getTableDict('gtfs_schema.sql')

{'Agency': ['agency_id', 'agency_name'],
 'Routes': ['route_id', 'agency_id', 'route_short_name', 'route_type'],
 'StopTimes': ['trip_id',
  'stop_id',
  'arrival_time',
  'departure_time',
  'stop_sequence'],
 'Stops': ['stop_id', 'stop_name', 'stop_lat', 'stop_lon'],
 'Trips': ['trip_id', 'trip_short_name', 'route_id']}

problem <br>
cannot establish an automatic relation between database and folder of csv(s) <br>
    
        solution is 1 file to 1 table manually ? or
         AI to match automatically
for now we apply 1st solution

In [ ]:
def

In [272]:
def sync(csv,table):
    """ csv = csv file, table = table name in database 'gtfs_schema.sql'<----- to be dynamic; RETURN NONE"""
    
    tableDict = getTableDict('gtfs_schema.sql')
    
    if not (table in tableDict.keys()):              # check if input table is correct 
        raise NameError('table is not correct?')
        
    columns = tableDict[table]
    NColumn = len(columns)
    
    #SQL syntax
    textToInsert= 'INSERT INTO '+ table + ' VALUES ('+', '.join('?' * NColumn)+')'
    
    """----------------------df side-------------------"""
    df_temp = pd.read_csv(csv)
    exeList= list(map(tuple, df_temp.loc[:,columns].values)) 
    
    """-----------------------execute--------------------"""
    
    textToRemove = 'DELETE FROM '+table              #clear the table first ?
    c.execute(textToRemove)
    print("old data cleared")
    
    c.executemany(textToInsert, exeList)
    conn.commit()
    print ("syncing success",table)
    return None

sync("./SEM-GTFS/agency.txt", 'Agency')
sync("./SEM-GTFS/routes.txt", 'Routes')

old data cleared
syncing success Agency
old data cleared
syncing success Routes

In [182]:
#tuple (df_agency.loc[:,['agency_id','agency_name']].values)

In [ ]:
sync()