In [15]:

import sqlite3
from sqlite3 import Error
import pandas as pd

list_attributes=['agency',
            'stops',
            'routes',
            'trips',
            'stop_times']
list_CSV_FILE_PATH = ['SEM-GTFS/agency.txt',
                      'SEM-GTFS/stops.txt',
                      'SEM-GTFS/routes.txt',
                      'SEM-GTFS/trips.txt',
                      'SEM-GTFS/stop_times.txt']
DB_FILE_PATH = 'gtfs_tag2.db'
CSV_FILE_PATH = 'SEM-GTFS/stops.txt'


def connect_to_db(db_file):
    """
    Connect to an SQlite database, if db file does not exist it will be created
    :param db_file: absolute or relative path of db file
    :return: sqlite3 connection
    """
    sqlite3_conn = None

    try:
        sqlite3_conn = sqlite3.connect(db_file)
        return sqlite3_conn

    except Error as err:
        print(err)

        if sqlite3_conn is not None:
            sqlite3_conn.close()


def insert_values_to_table(table_name, csv_file):
    """
    Open a csv file with pandas, store its content in a pandas data frame, change the data frame headers to the table
    column names and insert the data to the table
    :param table_name: table name in the database to insert the data into
    :param csv_file: path of the csv file to process
    :return: None
    """

    conn = connect_to_db(DB_FILE_PATH)

    if conn is not None:
        c = conn.cursor()

        # Create table if it is not exist
#         c.execute('DROP TABLE IF EXISTS ' + table_name +
#                   'CREATE TABLE' + table_name +
#                   'agency_id       ID,'
#                   'agency_name     TEXT,'
#                   'agency_url      TEXT,'
#                   'agency_timezone TEXT,'
#                   'agency_lang     TEXT,'
#                   'agency_phone     INT,' 
#                   'PRIMARY KEY  (agency_id)')

        df = pd.read_csv(csv_file)

        df.columns = get_column_names_from_db_table(c, table_name)

        df.to_sql(name=table_name, con=conn, if_exists='replace', index=False)

        conn.close()
        print('SQL insert process finished')
    else:
        print('Connection to database failed')


def get_column_names_from_db_table(sql_cursor, table_name):
    """
    Scrape the column names from a database table to a list
    :param sql_cursor: sqlite cursor
    :param table_name: table name to get the column names from
    :return: a list with table column names
    """

    table_column_names = 'PRAGMA table_info(' + table_name + ');'
    sql_cursor.execute(table_column_names)
    table_column_names = sql_cursor.fetchall()

    column_names = list()

    for name in table_column_names:
        column_names.append(name[1])

    return column_names


if __name__ == '__main__':
    for attr, file in zip(list_attributes,list_CSV_FILE_PATH):
        insert_values_to_table(attr, file)

SQL insert process finished
SQL insert process finished
SQL insert process finished
SQL insert process finished
SQL insert process finished

In [ ]:
def gen_insert_query(table_name:str, a_dict:dict) -> str

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('gtfs_tag2.db')

In [ ]:
import matplotlib.pyplot as plt
          
sql_agency = pd.read_sql('''SELECT * FROM agen''', conn)

df = pd.DataFrame(sql_agency)
df

,agency_id,agency_name,agency_url,agency_timezone,agency_lang,agency_phone
0,SEM,Mobilités M - Tag,https://www.mobilites-m.fr/,Europe/Paris,FR,438703870