In [41]:
import pandas as pd
from sqlite3 import connect
import numpy as np

In [42]:
my_code = '''SELECT * FROM agencies'''
conn = connect('test.db')
df = pd.read_sql(my_code, conn)
df

Empty DataFrame
Columns: [agency_id, agency_name, agency_url, agency_timezone, agency_lang, agency_phone]
Index: []

In [43]:
data = pd.read_csv('SEM-GTFS/agency.txt')
data.head()

,agency_id,agency_name,agency_url,agency_timezone,agency_lang,agency_phone
0,SEM,Mobilités M - Tag,https://www.mobilites-m.fr/,Europe/Paris,FR,438703870

In [65]:
connection = connect('test.db')
cursor = connection.cursor()

In [45]:
data.to_sql("agencies",connection, if_exists="replace", index = False)

In [46]:
my_code = '''SELECT * FROM agencies'''
conn = connect('test.db')
df = pd.read_sql(my_code, conn)
df

,agency_id,agency_name,agency_url,agency_timezone,agency_lang,agency_phone
0,SEM,Mobilités M - Tag,https://www.mobilites-m.fr/,Europe/Paris,FR,438703870

In [60]:
data = pd.read_csv('SEM-GTFS/stops.txt')
data.drop(columns=['zone_id','location_type'],inplace = True)
data.head()

,stop_id,stop_code,stop_name,stop_lat,stop_lon,parent_station,wheelchair_boarding
0,0004,0004,"Meylan, Revirée - Sayettes",45.21220,5.76728,REVIREES,0
1,0006,0006,"La Tronche, Commandant Nal",45.20323,5.74535,COMMANAL,1
2,0007,0007,"La Tronche, Musée Hébert",45.20564,5.74888,MUSHEBER,1
3,0008,0008,"La Tronche, Centre Théologique",45.20617,5.75214,CENTHEOL,1
4,0011,0011,"Meylan, Malacher",45.21128,5.78724,MALACHER,1

In [68]:
connection = connect('test.db')
cursor = connection.cursor()
data.to_sql("stops",connection, if_exists="replace", index = False)

In [69]:
my_code = '''SELECT * FROM stops'''
df = pd.read_sql(my_code, connection)
df

,stop_id,stop_code,stop_name,stop_lat,stop_lon,parent_station,wheelchair_boarding
0,0004,0004,"Meylan, Revirée - Sayettes",45.21220,5.76728,REVIREES,0
1,0006,0006,"La Tronche, Commandant Nal",45.20323,5.74535,COMMANAL,1
2,0007,0007,"La Tronche, Musée Hébert",45.20564,5.74888,MUSHEBER,1
3,0008,0008,"La Tronche, Centre Théologique",45.20617,5.75214,CENTHEOL,1
4,0011,0011,"Meylan, Malacher",45.21128,5.78724,MALACHER,1
...,...,...,...,...,...,...,...
2379,VOHRIGEN,GENVOHRIGEN,"Vizille, Parc Vöhringen",45.07888,5.76947,None,0
2380,XAVJOUVI,GENXAVJOUVI,"Grenoble, Xavier Jouvin",45.19560,5.73009,None,0
2381,ZASPEYRE,GENZASPEYRE,"Vif, Z.A. des Speyres",45.05690,5.68184,None,0
2382,ZELLAMEL,GENZELLAMEL,"Saint-Martin-d'Hères, Zella Mehlis",45.16707,5.75354,None,0
2383,ZILES,GENZILES,"Le Pont-de-Claix, ZI des Iles",45.13853,5.69449,None,0